
body{
  min-width: 450px;
  min-height: 600px;
  background-color: rgba(192, 252, 192, 0.422);
  margin:5px;
  padding:0;
  font-size:9px;
}
#gameBoard{
  position: absolute;
  width: 364px;
  height: 240px;
  background-color: rgba(131, 131, 131, 0.533);
  z-index: -1;
  top: 150px;
  margin-bottom:30px;
}
#gameBoard::before{
  content: "";
  width:0;
  height:0;
  border-bottom: 105px solid rgba(131, 131, 131, 0.533);
  border-right: 182px solid transparent;
  border-left: 182px solid transparent;
  position: absolute;
  top:-105px;
}
#gameBoard::after{
  content: "";
  width:0;
  height:0;
  position: absolute;
  border-top: 105px solid rgba(131, 131, 131, 0.533);
  border-left: 182px solid transparent;
  border-right: 182px solid transparent;
  bottom: -105px;
}
.hex::before{
  content: "";
  width:0;
  height:0;
  border-right: 15px solid rgba(1, 0, 0, 0.533);
  border-top: 26px solid transparent;
  border-bottom: 26px solid transparent;
  position: absolute;
  left:-15px;
}
.hex{
  width: 30px;
  height: 52px;
  background-color: rgba(15, 0, 0, 0.533);
  z-index: 1;
  position: relative;
  top: 60px;
  margin:3px;
}

.hex::after{
  content: "";
  width:0;
  height:0;
  border-left: 15px solid rgba(2, 0, 0, 0.533);
  border-top: 26px solid transparent;
  border-bottom: 26px solid transparent;
  position: absolute;
  right: -15px;
}

.hexRow{
  position: relative;
  margin-left: 35px;
  display: inline-block;
  margin:-5px;
  padding:7px;
  margin-top:15px;
}
#rowOne{
  margin-left: 52px;
  margin-bottom:26px;
  }
#rowTwo{
margin-left:5px;
margin-bottom:52px;
}
#rowThree{
  margin-left: 5px;
  margin-bottom: 26px;
}
#rowFour{
  margin-left: 5px;
  margin-bottom:52px;
}
#rowFive{
margin-left: 5px;
margin-bottom: 26px;
}


ul{
  position: absolute;
  list-style-type: none;
  padding:0;
  min-width:95%;
  max-width: 100%;
  min-height:20%;
  border:5px solid rgba(61, 97, 59, 0.718);
  border-radius: 2px;
  align-self: center;
  bottom: 10px;
}

.playerBox{
  min-height: 50%;
  display:flex;
  flex-direction: row;
  font-family: 'Press Start 2P', cursive;
}
#bonePlayerBox{
  color: rgb(251, 215, 171);
  background-color: rgb(223, 134, 83);
  position: absolute;
  min-height: 50%;
  min-width: 100%;
}
#bloodPlayerBox{
  background-color: rgb(122, 0, 0);
  color: rgb(251, 215, 171);
  position: absolute;
  min-height: 50%;
  min-width: 100%;
  bottom:0px;
  flex-direction: row-reverse;
}

.playerName{
  position: relative;
  text-align: left;
  padding: 2px;
  height:90%;
  font-size: 30px;
  background-image: -webkit-radial-gradient(50% 45% , closest-corner, rgba(250, 248, 234, 0.748), rgba(88, 88, 88, 0.1), transparent);
  vertical-align: middle;
}
.actionButton{
  display: inline-block;
  font-family: 'Press Start 2P', cursive;
  font-size: 6px;
  background-color: rgba(192, 252, 192, 0.422);
  margin: 2px;
  text-align: center;
}
#endTurn{
  display:none;
}
@media  (min-width:750px){
  #gameBoard{
    position: absolute;
    width: 468px;
    height: 240px;
    background-color: rgba(0, 0, 0, 0.477);
    z-index: -1;
    top: 100px;
    left:30px;
  }
  #gameBoard::before{
    content: "";
    width:0;
    height:0;
    border-bottom: 120px solid ;
    border-right: 182px solid transparent;
    border-left: 182px solid transparent;
    position: absolute;
    top:-120px;
  }
  #gameBoard::after{
    content: "";
    width:0;
    height:0;
    position: absolute;
    border-top: 120px solid ;
    border-left: 182px solid transparent;
    border-right: 182px solid transparent;
    bottom:-120px;
  }
}