@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&family=Press+Start+2P&display=swap');

@media  (min-width:3000px){
  #gameBoard{
    position: absolute;
    width: 468px;
    height: 240px;
    background-color: rgba(0, 0, 0, 0.477);
    z-index: -1;
    top: 100px;
    left:30px;
  }
  #gameBoard::before{
    content: "";
    width:0;
    height:0;
    border-bottom: 120px solid ;
    border-right: 182px solid transparent;
    border-left: 182px solid transparent;
    position: absolute;
    top:-120px;
  }
  #gameBoard::after{
    content: "";
    width:0;
    height:0;
    position: absolute;
    border-top: 120px solid ;
    border-left: 182px solid transparent;
    border-right: 182px solid transparent;
    bottom:-120px;
  }
}
body{
  min-width: 450px;
  min-height: 600px;
  background-color: rgba(192, 252, 192, 0.422);
  font-size:9px;
}
p{
  margin-left:-20px;
  width:100vw;
  font-family: 'Cinzel Decorative', cursive;
  position: absolute;
  font-size: 40px;
  top:-50px;
  text-align: center;
  padding:20px;
  /*background-color: antiquewhite;*/
  background-image: -webkit-linear-gradient(rgb(237, 144, 144), transparent);
  border:5px transparent;
  border-radius: 5%;
}
#gameBoard{
  position: absolute;
  width: 312px;
  height: 210px;
  background-color: rgba(131, 131, 131, 0.533);
  top: 145px;
  margin-bottom:30px;
  margin-left: 25px;
}
#gameBoard::before{
  content: "";
  width:0;
  height:0;
  border-bottom: 105px solid rgba(131, 131, 131, 0.533);
  border-right: 156px solid transparent;
  border-left: 156px solid transparent;
  position: absolute;
  top:-105px;
}
#gameBoard::after{
  content: "";
  width:0;
  height:0;
  position: absolute;
  border-top: 105px solid rgba(131, 131, 131, 0.533);
  border-left: 156px solid transparent;
  border-right: 156px solid transparent;
  bottom: -105px;
}
.hex::before{
  content: "";
  width:0;
  height:0;
  border-right: 15px solid rgba(1, 0, 0, 0.2);
  border-top: 26px solid transparent;
  border-bottom: 26px solid transparent;
  position: absolute;
  left:-15px;
}
.hex{
  width: 30px;
  height: 52px;
  background-color: rgba(15, 0, 0, 0.2);
  z-index: .5;
  position: relative;
  top: 60px;
  margin:5px;
}

.hex::after{
  content: "";
  width:0;
  height:0;
  border-left: 15px solid rgba(2, 0, 0, 0.2);
  border-top: 26px solid transparent;
  border-bottom: 26px solid transparent;
  position: absolute;
  right: -15px;
}
.empty::before{
  content: "";
  width:0;
  height:0;
  border-right: 15px solid transparent;
  border-top: 26px solid transparent;
  border-bottom: 26px solid transparent;
  position: absolute;
  left:-15px;
}
.empty{
  width: 30px;
  height: 52px;
  background-color:transparent;
  z-index: 1;
  position: relative;
  top: 60px;
  margin:3px;
}

.empty::after{
  content: "";
  width:0;
  height:0;
  border-left: 15px solid transparent;
  border-top: 26px solid transparent;
  border-bottom: 26px solid transparent;
  position: absolute;
  right: -15px;
}
.hexColumn{
  position: relative;
  display: inline-block;
  padding:5px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top:40px;
}
#cOne{
  margin-left: 52px;
  margin-bottom:28px;
  }
#cTwo{
margin-left:-8px;
margin-bottom:56px;
}
#cThree{
  margin-left:-8px;
  margin-bottom: 26px;
}
#cFour{
  margin-left: -8px;
  margin-bottom:56px;
}
#cFive{
margin-left: -8px;
margin-bottom: 28px;
}
#hexContainer{
margin-left: 17px;
}
ul{
  position: absolute;
  list-style-type: none;
  padding:0px;
  min-width:90vw;
  max-width: 100vw;
  min-height:20%;
  border:5px solid rgba(61, 97, 59);
  border-radius: 10px;
  bottom: 10px;
  left:0vw;
}

.playerBox{
  min-height: 50%;
  display:flex;
  flex-direction: row;
  font-family: 'Press Start 2P', cursive;
}
#bonePlayerBox{
  color: rgb(251, 215, 171);
  background-color: rgb(223, 134, 83);
  position: absolute;
  min-height: 50%;
  min-width: 100%;
}
#bloodPlayerBox{
  background-color: rgb(122, 0, 0);
  color: rgb(251, 215, 171);
  position: absolute;
  min-height: 50%;
  min-width: 100%;
  bottom:0px;
  flex-direction: row-reverse;
}

.playerName{
  position: relative;
  text-align: left;
  padding: 2px;
  height:90%;
  font-size: 30px;
  background-image: -webkit-radial-gradient(50% 45% , closest-corner, rgba(250, 248, 234, 0.748), rgba(88, 88, 88, 0.1), transparent);
  vertical-align: middle;
}
.message{
  font-size: 12px;
  float: left;
}
.actionButton{
  display: inline-block;
  font-family: 'Press Start 2P', cursive;
  font-size: 6px;
  background-color:  rgb(251, 215, 171);
  margin: 2px;
  text-align: center;
}
.actionButton:hover{
border-color: red;
}
#boneEndTurn{
  display: none;
}
#bloodEndTurn{
  display:none;
}
#vertexContainer{
  position:absolute;
  top:105px;
  float:left;
  left:64px;
  width:290px;
  height:300px;
  display:grid;
  grid-template-columns:15px 30px 15px 30px 15px 30px 15px 30px 15px 30px 15px 15px;
  grid-template-rows:repeat(13, 28px [row-start]);
  padding-bottom:10px;
}
.emptyVert{
  font-size: 12px;
  font-weight:900;
  position: relative;
  height:15px;
  width:15px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
  margin:none;
}
.vertice{
  font-size: 6px;
  position: relative;
  height:10px;
  width:10px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: rgba(240, 248, 255, 1);
  text-align: center;
  cursor: pointer;
  margin:none;
  z-index:1;
}
#roadContainer{
  position: absolute;
  z-index: .9;
  display: grid;
  width:290px;
  height:300px;
  top:110px;
  left:64px;
  grid-template-columns: 15px 30px 15px 30px 15px 30px 15px 30px 15px 30px 15px;
  grid-template-rows:repeat(11,28px [row-start]);
}
.road{
  height:6px;
  width: 30px;
  background-color: black;
}
.emptyRoad{
  background-color: transparent;
  width:30px;
}
.road.northToSouth{
  rotate: 60deg;
  position: relative;
  top:-15px;
}
.road.southToNorth{
  rotate: -60deg;
  position: relative;

  top:-15px;
}

@keyframes roadAnimation{
  0%{
    bcolor: rgba(0, 0, 0, 1);
  }
  5%{
    color: rgba(0, 0, 0, 0.9);
  }
  10%{
    color: rgba(0, 0, 0, 0.8);
  }
  150%{
    color: rgba(0, 0, 0, 0.7);
  }
  20%{
    color: rgba(0, 0, 0, 0.6);
  }
  25%{
    color: rgba(0, 0, 0, 0.5);
  }
  30%{
    color: rgba(0, 0, 0, 0.4);
  }
  35%{
    color: rgba(0, 0, 0, 0.3);
  }
  40%{
    color: rgba(0, 0, 0, 0.2);
  }
  45%{
    color: rgba(0, 0, 0, 0.1);
  }
  50%{
    color: rgba(0, 0, 0, 0.2);
  }
  55%{
    color: rgba(0, 0, 0, 0.3);
  }
  65%{
    color: rgba(0, 0, 0, 0.4);
  }
  70%{
    color: rgba(0, 0, 0, 0.5);
  }
  75%{
    color: rgba(0, 0, 0, 0.6);
  }
  80%{
    color: rgba(0, 0, 0, 0.7);
  }
  85%{
    color: rgba(0, 0, 0, 0.8);
  }
  90%{
    color: rgba(0, 0, 0, 0.9);
  }
  95%{
    color: rgba(0, 0, 0, 1);
  }
  100%{
    color: rgba(0, 0, 0, 1);
  }
}